body{
    background-image: url("../images/shore.jpg");
    background-size: 100% 100%;
}
.container-fluid{
    /* background-color: wheat; */
    height: 100vh;
}
#maincontent{
    position: fixed;
    height: 50vh;
    margin-top: 150px;
}
.items{
    width: 100px;
    height: 100px;
    border: solid 2px black;
}
h2{
    margin-left: -130px;
    margin-top: -52px;
    font-family: 'Pacifico', cursive;
    font-size: 34px;
    /* color:red; */
}